body{
    background-color: rgb(126, 110, 163);
}


.titulo{
    background-color: black;
    text-align: center;
    color:white ;
}

img{
    width: 30%;
}

p{
    text-align: justify;
    color: purple
}

.FanpageofKimTaehyungfromBTS